.card {
    max-width: 768px;
}

.btn-secondary {
    width: 90%;
    margin: 0px 20px 5px 20px;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
}