{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}
{% block content%}
<link rel="stylesheet" href="{% static 'booksmith/css/home.css' %}">
<a href="{% url 'booksmith:book_listing_form' %}" class="btn btn-secondary">List a book</a>
<br><br>
{% if books %}
<div class="row">
    {% for book in books %}
    <div class="col-md-2 mb-5">
        <div class="card">
            <div class="image-container">
                <img src="{{ book.cover_image.url }}" class="card-img-top fit-image" alt="{{ book.title }}">
            </div>
            <div class="card-body">
                <a href="{% url 'booksmith:book_detail' pk=book.id %}" class="btn btn-primary btn-secondary">Read
                    More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3>No books available at the moment</h3>
{% endif %}
</div>
{% endblock %}